<div class="container">
	<footer class="row">
		<div class="col-auto">
			<a href="/"><%= language.footer_createPoll %> 🎉</a>
		</div>
		<!--<div class="col-auto">
			<a href="/API">API ⚡</a>
		</div>-->
		<div class="col-auto">
			<a href="/translate"><%= language.footer_translate %> 🗺️</a>
		</div>
		<div class="col text-right">
			&copy; 2019
		</div>
	</footer>
</div>
