<footer class="container-fluid">
	<div class="row">
		<div class="col-auto">
			<a href="/" class="btn btn-slim" title="<%= language.footer_createPoll %>"><%= language.footer_createPoll %></a>
			<a href="/about-us" class="btn btn-slim" title="<%= language.footer_about %>"><%= language.footer_about %></a>
		</div>
		<div class="col text-right">
			<a href="https://github.com/Xevolab/questionary" class="btn btn-slim">Github</a>
		</div>
	</div>
</footer>
