<div class="row alert">
	<div class="col">
		<%= language.alert_already_voted %>

		<div>
			<a href="/r/<%= id %>" title="<%= language.alert_footer %>">
				<%= language.alert_footer %>
			</a>
		</div>
	</div>
</div>
