<div class="row alert">
	<div class="col">
		<%= language.alert_already_voted %>
		<a href="/r/<%= id %>" title="<%= language.alert_footer %>">
			<label for=""><%= language.alert_footer %></label>
		</a>
	</div>
</div>
