<div class="row">
	<h3 class="col section-title">
		### <%= language.collect_names_title %>
	</h3>
</div>
<div class="row collectNames">
	<div class="col">

		<div class="row">
			<div class="col limited-width">
				<input type="text" name="" placeholder="<%= language.collect_names_textarea %>" autofocus>
			</div>
		</div>
		<div class="row limited-width">
			<div class="col explanation">
				<%= language.collect_names_explanation %>
			</div>
		</div>

	</div>
</div>
