<div class="row collectNames">
	<div class="col">
		<div class="row">
			<div class="col limited-width">
				<input type="text" name="name" placeholder="<%= language.collect_names_textarea %>" autofocus>
			</div>
		</div>
		<div class="row">
			<div class="col description">
				<%= language.collect_names_explanation %>
			</div>
		</div>
	</div>
</div>
