<div class="row alert">
	<div class="col">
		<div class="row">
			<div class="col-auto alert-icon"><i class="fas fa-exclamation-circle"></i></div>
			<div class="col">
				<%= language.alert_no_more_choices %>

				<div>
					<a href="/r/<%= id %>" title="<%= language.alert_footer %>">
						<%= language.alert_footer %>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
