/* COLORS */
/* Dimensions */
/* */
/* Footer */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif; }

h1 {
  font-weight: 500;
  color: #EE3830;
  font-size: 42pt;
  line-height: 48pt;
  min-height: 57pt; }

h2 {
  font-weight: 500;
  color: #00249C;
  margin-bottom: 0; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  padding-left: calc(2rem + 15px) !important; }

.main-container {
  background-color: white;
  padding-top: calc(40px + 1.7rem);
  margin-bottom: 100vh;
  padding-bottom: 20vh; }
  .main-container p {
    margin-left: 5em;
    margin-top: .3em; }
  .main-container > .row:not(nav) {
    max-width: 750px;
    margin: 0 auto; }

.create-new {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #fafafa;
  display: flex; }
  .create-new div {
    margin: auto;
    text-align: center; }
  .create-new h2 {
    margin-right: .25em; }
  .create-new .btn {
    font-size: 16pt; }

@media (max-width: 1000px) {
  nav {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0.35rem 1rem !important; }
    nav img {
      max-height: 70px; }
  .main-container {
    margin-bottom: 0;
    padding-bottom: 3em; }
    .main-container p {
      margin-left: 30px; }
  .create-new {
    height: auto;
    padding: 5em 0;
    position: relative; } }
