/* FONTS */
/* COLORS */
/* Dimensions */
/* */
/* Footer */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
.pdf-template {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif; }

.pdf-template nav {
  font-size: 1.7em;
  margin-bottom: 1rem; }
  .pdf-template nav h1 {
    font-weight: 500;
    text-align: right;
    margin-right: 2rem; }
  .pdf-template nav h2 {
    font-weight: 300; }

.pdf-template .page-content {
  margin-bottom: 2rem; }
  .pdf-template .page-content .row {
    margin-bottom: 1em; }
    .pdf-template .page-content .row .col-2.percentage {
      text-align: right;
      font-weight: bold;
      padding-right: 0; }
    .pdf-template .page-content .row h3 {
      font-weight: 500;
      margin: .25em 0;
      font-size: 1.35em; }
    .pdf-template .page-content .row p {
      margin: 0;
      font-weight: 300;
      font-size: .75em;
      text-align: justify; }

.pdf-template footer {
  position: fixed;
  bottom: 0;
  font-weight: 300; }
  .pdf-template footer .col-8 {
    text-align: center; }
    .pdf-template footer .col-8 a {
      text-decoration: none;
      color: initial; }
  .pdf-template footer .col {
    text-align: right;
    padding-right: 1rem;
    content: counter(page) " of " counter(pages); }
