<!DOCTYPE html>
<html lang="<%= language.languageCode %>">
<head>
	<title>Questionary</title>

	<% include ../partials/header %>
	<link rel="stylesheet" href="/assets/css/error-page.css">

	<meta property="og:title" content="Questionary" />
	<meta property="og:description" content="<%= language.header_og_description %>" />
	<meta name="description" content="<%= language.header_og_description %>" />
	<meta property="og:url" content="<%= uri %>" />
	<meta name="robots" content="noindex">
</head>
<body>

	<div class="container main-container error-page">

		<div><a href="/"><img src="/assets/img/error404.gif" alt=""></a></div>

	</div>

	<% include('../partials/scripts', {lang: language.languageCode}) %>

</body>
</html>
