// @Author: francesco
// @Date:   2020-04-03T21:20:38+02:00
// @Last modified by:   francesco
// @Last modified time: 2020-04-28T21:39:39+02:00


/* COLORS */
$primary_color: #00249C;
$secondary_color: #EE3830;

/* Dimensions */
$title_font_size: 56pt;
$choices_font_size: 24pt;
$choices_padding: 21px;
$choices_padding_title: 18px;

/* */
$error_color: #f44e42;
$warning_color: #f4c242;
$success_color: #32aa0a;
$info_color: #4298f5;

$bg_color: black;
$body_color: #050505;

$checkbox_background: #eee;
$checkbox_background_hover: #ddd;

/* Footer */
$button_active_color: #999;
$button_hover_color: #888;
$button_hover_bg: #eee;

$toast_bg: white;
$toast_loading_color: #aaa;
$toast_color: $body_color;
$toast_border: #ddd;
