.main-container {

	.row:not(.choice) {
		margin-bottom: 3rem;
	}
	.row.h1 {
		margin-bottom: 1rem;
		color: $primary_color;
	}

	textarea {
		font-family: $body_font, 'Arial', 'Helvetica', sans-serif;
		border: none;
		width: 100%;
		background: transparent;
		resize: none;

		&:focus {
			outline: none;
		}

		&.title {
			font-weight: 900;
			font-family: $title_font, 'Arial', 'Helvetica', sans-serif;
			color: $seconday_color;
			font-size: 2rem;
			padding: 0 .2rem;
			margin: 2rem 0 0 0;
			overflow: hidden;
			max-width: 560px;

			&::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::-webkit-input-placeholder, &:-moz-placeholder {
				color: $seconday_color;
				font-style: italic;
				opacity: .75;
			}
			&::placeholder {
				color: $seconday_color;
				font-style: italic;
				opacity: .75;
			}
		}
	}

	.choices .choice {

		.value {
			font-size: 1.1rem;
			padding-left: 0;
			display: inline-flex;

			input, textarea {
				width: 100%;
				font-size: inherit;
				overflow: hidden;
				color: $body_color;
			}
			&:before {
				background-color: $primary_color;
				width: 5px;
				border-radius: 5px;
				margin-left: 10px;
				margin-right: 5px;
				content: '\2800';
			}
		}

		&:first-of-type {
			.remove {
				display: none;
			}
		}

	}

}
