@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Lato:900|Mada&display=swap');

body {
	margin: 0;
	font-family: $body_font, 'Arial', 'Helvetica', sans-serif;
}
button {
	font-family: $body_font, 'Arial', 'Helvetica', sans-serif;
}

@import 'toast';

.text-right {
	text-align: right;
}

nav {
	img {
		max-width: 85px;
	}

	& .row {
		padding: 2rem;
	}
	@media (max-width: 992px) {
		& .row {
			padding: 1.5rem;
		}
	}
	@media (max-width: 768px) {
		& .row {
			padding: 1.5rem 1rem;
		}
	}
	@media (max-width: 576px) {
		& .row {
			padding: 1rem .5rem;
		}
	}
}

@import 'index';

footer {
	color: $button_active_color;

	& .row > *:first-child {
		padding-left: 2.5rem;
	}
	& .row > *:last-child {
		padding-right: 2.5rem;
	}

	.row > * {
		padding-left: 5px;
		padding-right: 5px;
	}

	.btn {
		color: $button_active_color;
		padding: .35em .55em;
		border-radius: 3px;
		transition: 80ms all ease-in-out;
		text-decoration: none;
		background-color: transparent;
		border: none;
		font-size: .95rem;

		&:hover {
			color: $button_hover_color;
			background-color: $button_hover_bg;
		}

		i {
			width: 18px;
		}
	}

	@media (max-width: 992px) {
		& .row > *:first-child {
			padding-left: 2rem;
		}
		& .row > *:last-child {
			padding-right: 2rem;
		}
	}
	@media (max-width: 768px) {
		& .row > *:first-child {
			padding-left: 1.5rem;
		}
		& .row > *:last-child {
			padding-right: 1.5rem;
		}
	}
	@media (max-width: 576px) {
		& .row > *:first-child {
			padding-left: 1rem;
		}
		& .row > *:last-child {
			padding-right: 1rem;
		}
	}
}
